<div class="container narrow">
<h1>Add A Building</h1>
  <form ng-submit="vm.addBuilding()" class="form-horizontal">

    <div class="form-group">
      <label for="name-of-building-input" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text"  id="name-of-building-input" ng-model="vm.building.name">
      </div>
    </div>

    <div class="form-group">
      <label for="location-input" class="col-sm-2 control-label">Location</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="location-input" ng-model="vm.building.address">
      </div>
    </div>

    <div class="form-group">
      <label for="exampleTextarea" class="col-sm-2 control-label">Information</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="vm.building.description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="building-image-input" class="col-sm-2 control-label">Image</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" value="" id="building-image-input" ng-model="vm.building.image">
      </div>
    </div>

    <div class="form-group">
      <label for="exampleSelect1" class="col-sm-2 control-label">Period</label>
      <div class="col-sm-10">
      <select id="exampleSelect1" ng-model="vm.building.period_id" ng-options="period.id as period.name for period in vm.periods"></select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
  </form>
</div>
