
<form ng-submit="vm.addBuilding()">


<div class="form-group row">
  <label for="name-of-building-input" class="col-2 col-form-label">Name of building</label>
  <div class="col-10">
    <input class="form-control" type="text" value="" id="name-of-building-input" ng-model="vm.building.name">
  </div>
</div>
<div class="form-group row">
  <label for="location-input" class="col-2 col-form-label">Location</label>
  <div class="col-10">
    <input class="form-control" type="text" value="Camberwell Grove, London, SE5" id="location-input" ng-model="vm.building.address">
  </div>
</div>
<div class="form-group row">
  <label for="exampleTextarea" class="col-2 col-form-label">Information</label>
  <div class="col-10">
   <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="vm.building.description"></textarea>
 </div>
</div>
<div class="form-group row">
  <label for="building-image-input" class="col-2 col-form-label">Image</label>
  <div class="col-10">
    <input class="form-control" type="text" value="" id="building-image-input" ng-model="vm.building.image">
  </div>
</div>
<div class="form-group row">
   <label for="exampleSelect1" class="col-2 col-form-label">Period</label>
   <div class="col-10">
     <select class="form-control" id="exampleSelect1"  ng-model="vm.building.period_id">
       <option ng-repeat="period in vm.period">{{period.name }}</option>
     </select>
   </div>
 </div>
 <div class="form-group row">
 <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

{{vm.period}}
