  <!DOCTYPE html>
<html ng-app="ldnFabric">
<head>
  <meta charset="utf-8">
  <title>morning; silent, bare</title>
  <base href="/" />

  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6m09rnmEQZhYR00fyEYxL1p3Rq2TYGtI&libraries=places"></script>
    <!-- <script src="../jsPacks/placeMe.js"></script> -->

</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav class="navbar navbar-light bg-faded">


      <a class="navbar-brand" ui-sref="buildingsIndex">
      <!-- <div ng-click="vm.hideMap = !vm.hideMap"> -->
        <img id="map-logo" src="images/LondonSouthwark.svg" width="40" height="40" alt="">
      <!-- </div> -->

      </a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>

      <div class="navbar-collapse collapse" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <p class="navbar-text" ui-sref="usersShow({id: vm.user.id})">Welcome, {{ main.user.username }}</p>
          </li>
          <!-- <li class="nav-item" ng-show="main.user">
            <a ui-sref="periodsShow">Periods</a>
          </li> -->
          <li class="nav-item" ng-hide="main.user">
            <a ui-sref="register">Register</a>
          </li>
          <li class="nav-item" ng-hide="main.user">
            <a ui-sref="login">Login</a>
          </li>
          <li class="nav-item" ng-show="main.user">
            <a ng-click="main.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- <input id="pac-input" type="text"
    placeholder="Enter a location">
    <div class="destinations">

    <form ng-submit="vm.addBuilding()">
      <label for="name"></label>
      <input type="hidden" name="name" id="name" placeholder="name" value="{{name}}" ng-model="vm.building.name">
      <label for="description"></label>

      <label for="lat"></label>
      <input type="hidden" name="lat" id="lat" placeholder="lat"  value="{{lat}}" ng-model="vm.building.lat">

      <label for="long"></label>
      <input type="hidden" name="long" id="long" placeholder="long"  value="{{lng}}" ng-model="vm.building.long">

      <button type="submit" name="button" id="addBtn" ng-show="MainCtrl.user._id === vm.group.createdBy._id">Add Destination</button>
    </form>
  </div> -->
  <main class="container" ui-view>

  </main>
</body>
</html>
