.icon-build-margin {
  margin: 30px;
  display: inline;
}

.title {
  text-align: center;
  color: black;
  height: 300px;
}

// .homepage-background {
//   background: url('/images/LondonSouthwark.svg');
//   background-repeat: no-repeat;
//   height: 350px;
// }
