ul {
  li {
    list-style: none;
    display: inline;
    text-align: center;
    .linky {
      cursor: pointer;
    }
    img {
      margin: 0 40px;
      text-align: center;
    }
    span {
      margin: 0 auto;
    }
  }
}
