

.google-map {
  width: 100%;
  height: 600px;
  // display: inline-block;
}

.street-view {
  height: 500px;
  width: 100%;
  display: inline-block;
}

.building-title {
    margin-top: 224px;
    color: ghostwhite;
    margin-left: -54px;
}
