.comments-form {
  margin-top: 10px;
  font-size: 18px;
}

.link-point {
  cursor: pointer;
}

.main-img{
  max-width: 400px;
  height: auto;
}

.padding-for-links{
  margin: 0 125px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 170px;
  z-index: 2;

  h1{
    margin-left: 73px;
    margin-top: -75px;
    background: rgba(255, 0, 0, 0.2);
    font-family: 'Work Sans', sans-serif;
  }
}

.text-width {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.center {
  text-align: center;
}


.roundImage{
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clear: both;
  border: 3px solid white;
}

.facebook {
  margin-top: 75px;
}

.twitter {
  margin-bottom: 60px;
}

.material-text {
  color: white;
}

.tabs {
  margin-top: 20px;
  .btn{
    margin-top: 10px;
  }
  .indent {
    background: rgba(255, 0, 0, 0.2);
    margin: 10px 20px;
    .favourited-user {
      height: 50px;
      width: 70px;
      margin: 10px;
      border-radius: 25%;
    }
  }
}

.period-imag {
  height: 200px;
  margin-left: 40px;

}
