@import 'nav';
@import 'maps';
@import 'index';
@import 'show';
@import 'home';

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,800');

// $main-font: 'Work Sans', sans-serif;
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  // text-align: center;
  padding-top: 70px;
  text-decoration: none;
}

a {
  cursor: pointer;
  color: black;
}

a:hover {
  color: #D46A6A;
}
