<div class="parent">
  <div class="abosol">
<a ui-sref="periodsIndex" ><img src="images/header.svg" alt=""></a>
</div>
<div class="row center-img">
  <div class="move-on-up">


  <img class="col-xs-6 img-padding" src="images/gher.svg" width="200" height="200" >
  <img class="col-xs-6 img-padding" src="images/lloyds.svg" width="200" height="200" >
  <img class="col-xs-6 img-padding" src="images/BIgBen.svg" width="200" height="200" >
  <img class="col-xs-6 img-padding" src="images/StPauls.svg" width="200" height="200" >
</div>
</div>
</div>
