<!-- <div ng-hide="vm.hideIndex">
  <ul ng-repeat="building in vm.buildings">
    <li><h1><a ui-sref="buildingsShow({id: building.id})">{{building.name}}</a></h1></li>
  </ul>
</div>
<h5><a ui-sref="buildingsNew">New Buidling</a></h5>
<div ng-click="vm.hideIndex = !vm.hideIndex; vm.hideMap = !vm.hideMap">
  <img id="map-logo" src="images/LondonSouthwark.svg" width="40" height="40" alt="">
</div>
<google-map buildings="vm.buildings"></google-map> -->


<ul>
  <li ng-click="vm.toggle = !vm.toggle">Toggle View</li>
</ul>
<div ng-hide="vm.toggle" class="buildings-text">
  <ul ng-repeat="building in vm.buildings">
    <li><h1><a ui-sref="buildingsShow({id: building.id})">{{building.name}}</a></h1></li>
  </ul>
</div>
<div ng-show="vm.toggle" class="buildings-googlemap">
  <google-map buildings="vm.buildings"></google-map>
</div>
