<img src="{{vm.building.image}}" alt="">
<h3><a ui-sref="buildingsEdit({id: vm.building.id})">edit</a></h3>



<ul ng-repeat="material in vm.materials">
<li>
  <img src="{{material.image}}" alt="">
  <h3>{{material.title}}</h3>
  <p>{{material.body}}</p>
  <button ng-click="vm.materialDelete(material.id)" name="btn">X</button>
</li>
</ul>


<form ng-submit="vm.addMaterial()">
  <div class="form-group row">
    <label for="material-title-input" class="col-2 col-form-label">Location</label>
    <div class="col-10">
      <input class="form-control" type="text" value="" id="material-title-input" ng-model="vm.material.title">
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleTextarea" class="col-2 col-form-label">Info</label>
    <div class="col-10">
     <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="vm.material.body"></textarea>
   </div>
  </div>
  <div class="form-group row">
    <label for="additional-image-input" class="col-2 col-form-label">Image</label>
    <div class="col-10">
      <input class="form-control" type="text" value="" id="additional-image-input" ng-model="vm.material.image">
    </div>
  </div>
  <div class="form-group row">
  <button type="submit" class="btn btn-primary">Submit</button>
 </div>
</form>
